// Typography
$google-font-sans-serif: "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
@if variable-exists(google-font-sans-serif){
  @import url($google-font-sans-serif);
}
$sans-serif: Lato, Arial, Helvetica, sans-serif;
$serif: $sans-serif, Georgia, serif;
$base-font-family: $serif;
$header-font-family: $sans-serif;

// Base Sizes
$base-line-height: 16px * 1.5;
// Header Sizes
$header-line-height: 1.2em;
$h1: 3.6;
$h2: 3.2;
$h3: 2.8;
$h4: 2.4;
$h5: 2.0;
$h6: 1.6;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;
// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;