/* eye candy */
@if $eye_candy == true{
  .row {
    border-top: 5px solid black;
  }
  .col {
    background: rgba(208, 208, 208, 0.1);
    border: 1px solid white;
  }
  .row-info{
    position: absolute;
    left: -32px;
    top: -15px;
    background: black;
    color: white;
    padding: 5px;
  }
}

.container{
  max-width: $container_max_width;
  margin:0 auto;
}
.row{
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  float: left; // <ie9
  position:relative;
  margin: 0 auto;
  width:100%;
  max-width:$row_max_width;
  padding: 0px;

  @if $animatedGrid == true{
    @include transition (all $animatedGridSpeed ease-in-out);
  }
	.row{
		flex: 1 1 auto;
    @if $animatedGrid == true{
      @include transition (all $animatedGridSpeed ease-in-out);
    }
	}
	&.wide {
		margin-left: -10px;
		margin-right: -10px;
	}
	&.center {
		justify-content: center;
		.col {
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}
.col {
  flex: 1 1 8%;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  @if $animatedGrid == true{
    @include transition (all $animatedGridSpeed ease-in-out);
  }
}
.col-1 {
  flex-basis: 8.3333%;
}
.col-2 {
  flex-basis: 16.6666%; 
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 33.3333%;
}
.col-5 {
  flex-basis: 41.6666%;
}
.col-6 {
  flex-basis: 50%;
}
.col-7 {
  flex-basis: 58.3333%;
}
.col-8 {
  flex-basis: 66.6666%;
}
.col-9 {
  flex-basis: 75%;
}
.col-10 {
  flex-basis: 83.3333%;
}
.col-11 {
  flex-basis: 91.6666%;
}
.col-12 {
  flex-basis: 100%;
}

@include media(lap) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5 {
    flex-basis: 33%;
  }

  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11 {
    flex-basis: 100%;
  }

  .row .row .col {
    flex-basis: 100%;
  }
  
}
@include media(hand){
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5{
		flex-basis:100%;
	}
}